@font-face {
  font-family: 'iconfont';
  /* Project id 4974777 */
  src: url('//at.alicdn.com/t/c/font_4974777_oysj7n9gp4.woff2?t=1752501001035') format('woff2'),
    url('//at.alicdn.com/t/c/font_4974777_oysj7n9gp4.woff?t=1752501001035') format('woff'),
    url('//at.alicdn.com/t/c/font_4974777_oysj7n9gp4.ttf?t=1752501001035') format('truetype');
}

.app-container {
  max-width: 100%;
  padding: 25px;
  display: flex;
  flex-direction: row;

  .column {
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .block_three {
    width: 100%;
    background-color: #fff;
    padding: 15px;
    // margin-bottom: 25px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    // border: #c5c5c5 1px solid;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;

    .block_title {
      font-size: 18px;
      font-weight: bold;
      margin: 0;
      margin-bottom: 15px;
    }

    .block_content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .bold {
      font-weight: bold;
    }

    .small {
      font-size: 12px;
    }
  }

  .block_three:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
  }

  .car-info {
    display: flex;
    flex-direction: column;

    .car_image {
      width: 100%;
      border-radius: 15px;
      margin-bottom: 15px;
    }

    .basic-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      // padding-top: 15px;
      padding-right: 15px;

      .basic-item {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 2px;
        flex-wrap: wrap;

        .basic-label {
          font-size: 14px;
          color: #555;
        }

        .basic-value {
          // font-size: 14px;

          &.operating {
            color: #70c774;
          }

          &.suspended {
            color: #f5222d;
          }

        }

        .list-item {
          // width: 50%;

          .list-item-icon {
            font-size: 12px;
            margin-right: 5px;
          }

          .list-item-text {
            font-size: 12px;
            color: #555;
          }
        }
      }
    }
  }

  .other-info {
    position: relative;

    .block_content {
      display: flex;
      flex-direction: column;

      .progress-item {
        height: 22px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 12px;
        text-align: center;
        align-items: center;
        margin-bottom: 5px;

        .battery-text {

          .text-label {
            font-size: 10px;
          }

          .text-value {
            font-size: 14px;
          }
        }

        .progress-label {
          font-size: 12px;
          color: #555;
        }

        .progress-value {
          font-size: 12px;
          font-weight: bold;

          &.normal {
            color: #8bd38a;
          }

          &.warning {
            color: #eba540;
          }

          &.danger {
            color: #f5222d;
          }
        }
      }

      .first-item {
        margin-bottom: 15px;
      }
    }
  }

  .current-order {
    margin-bottom: 0;

    .progress-item {
      height: 22px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 12px;
      text-align: center;
      align-items: center;
      margin-bottom: 5px;

      .progress-label {
        font-size: 12px;
        color: #555;
      }

      .progress-value {
        font-size: 12px;
        font-weight: bold;
      }
    }
  }

  .map-container {
    width: 82%;
    height: calc(100vh - 165px);
    margin-left: 55px;
    padding: 20px;
    border-radius: 15px;
    background-color: #fff;
    position: relative;
    // border: #c5c5c5 1px solid;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;

    .button {
      line-height: 25px;
      padding-left: 10px;
      margin-bottom: 10px;
      font-size: 20px;
      // background-color: red;

      .button-icon {
        margin-right: 10px;
        cursor: pointer;
      }
    }

    .map {
      height: 100%;
      overflow: hidden;

      .map-img {
        width: 100%;
        height: calc(100% - 35px);
        border-radius: 15px;
        object-fit: cover;
      }
    }

    .order-detail {
      width: 180px;
      height: 130px;
      position: absolute;
      right: 35px;
      top: 70px;
      background-color: rgba(237, 237, 237, 0.6);
      padding: 20px;
      border-radius: 15px;
      border: #c5c5c5 1px solid;
    }

    .info-detail {
      width: 180px;
      height: 130px;
      position: absolute;
      right: 35px;
      top: 260px;
      background-color: rgba(215, 215, 215, 0.6);
      padding: 20px;
      border-radius: 15px;
      border: #c5c5c5 1px solid;

      .info-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  .map-container:hover {
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
  }
}