* {
    padding: 0;
    margin: 0;
}

/* 整个面板 */
#board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.date {
    font-size: clamp(16px, 2vw, 20px);
    font-weight: bold;
}


/* #region时钟start */
.clock {
    height: clamp(8vh, 9.8vh, 12vh);
    color: var(--color-light);
    font-size: clamp(6vh, 7.8vh, 10vh);
    font-weight: bold;
    font-family: FangSong; 
    line-height: clamp(8vh, 9.8vh, 12vh);
    display: flex;
    margin-left: clamp(15px, 2vw, 20px);
    // position: absolute;
    bottom: 89%;
    left: 40%;
    overflow: hidden;
}
.clock.night-mode {
    height: clamp(8vh, 9.8vh, 12vh);
    color: var(--color-dark);
    font-size: clamp(6vh, 7.8vh, 10vh);
    font-weight: bold;
    font-family: FangSong; 
    line-height: clamp(8vh, 9.8vh, 12vh);
    display: flex;
    margin-left: clamp(15px, 2vw, 20px);
    // position: absolute;
    bottom: 89%;
    left: 40%;
    overflow: hidden;
}
.clock > div {
    display: flex;
}
.tick {
    line-height: clamp(6vh, 7vh, 9vh);
}
.tick-hidden {
    opacity: 0;
}
/* 线性过渡，持续时间为1s */
.move {
    animation: move linear 1s infinite;
}
/* #endregion时钟end */
